.base {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.default {
  
  
}

.current {
  border-bottom: 4px solid #1117A1;
}

@media only screen and (max-width: 600px) {
  .hovered {
    border-bottom: none;
  }
}

@media only screen and (min-width: 601px) {
  .hovered {
    border-bottom: 4px solid #1117A1;
  }
}

.rectangleBase {

}

.rectangleDefault {

}

.rectangleCurrent {
  width: 95%;
  height: 30px;
  margin-left: 10px;
  background-color:  #ffefd3;
  position: absolute;
  top: -5px;
  left: 0;
  z-index: -1;
}

.rectangleHovered {

}

/* .rectangleClicked {
  width: 95%;
  height: 30px;
  margin-left: 10px;
  background-color:  #ffefd3;
  position: absolute;
  top: -5px;
  left: 0;
  z-index: -1;
} */

