.base {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.default {
  
  
}

.current {
  border-bottom: 4px solid #1117A1;
}

.hovered {
  border-bottom: 4px solid #1117A1;
}

.clicked {
  border-bottom: 4px solid #1117A1;
}


.rectangleBase {

}

.rectangleDefault {

}

.rectangleCurrent {
  width: 95%;
  height: 30px;
  margin-left: 10px;
  background-color:  #ffefd3;
  position: absolute;
  top: -5px;
  left: 0;
  z-index: -1;
}

.rectangleHovered {

}

/* .rectangleClicked {
  width: 95%;
  height: 30px;
  margin-left: 10px;
  background-color:  #ffefd3;
  position: absolute;
  top: -5px;
  left: 0;
  z-index: -1;
} */

