.base {
  position: relative;
  background: none;
}

.default {
  
  
}

.current {
  border-bottom: 4px solid #1117A1;
  padding-bottom: 3px;
}

.hovered {
  border-bottom: 4px solid #1117A1;
  padding-bottom: 3px;
}

.clicked {
  border-bottom: 4px solid #1117A1;
  padding-bottom: 3px;
}


.rectangleBase {

}

.rectangleDefault {

}

.rectangleCurrent {
  width: 95%;
  height: 30px;
  margin-left: 10px;
  background-color:  #3FFFE8;
  position: absolute;
  top: -5px;
  left: 0;
  z-index: -1;
}

.rectangleHovered {

}

.rectangleClicked {
  width: 95%;
  height: 30px;
  margin-left: 10px;
  background-color:  #3FFFE8;
  position: absolute;
  top: -5px;
  left: 0;
  z-index: -1;
}