.base {
  color: black;
  white-space: pre-line;
}

.body {
  font-size: 18px;
  white-space: pre-line;
  font-family: "Abel-Regular";
  text-align: justify;
  line-height: 22px;
}

.title {
  text-align: center;
  font-size: 50px;
  white-space: pre-line;
  font-family: "AveriaSerifLibre-Regular";
}

.nav {
  font-size: 16px;
  white-space: pre-line;
  font-family: "AveriaSerifLibre-Bold";
  color: #1117A1;
}

.callToAction {
  font-size: 18px;
  white-space: pre-line;
  font-family: "AveriaSerifLibre-Regular";
}