/* How to add fonts to a project:
https://stackoverflow.com/questions/41676054/how-to-add-fonts-to-create-react-app-based-projects */

@font-face {
  font-family: 'Abel-Regular';
  src: url(../fonts/Abel-Regular.ttf) format('ttf'),
       url('../fonts/abel-regular-webfont.woff2') format('woff2'),
       url('../fonts/abel-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AveriaSerifLibre-Regular';
  src: url(../fonts/AveriaSerifLibre-Regular.ttf) format('ttf'),
        url('../fonts/averiaseriflibre-regular-webfont.woff2') format('woff2'),
       url('../fonts/averiaseriflibre-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AveriaSerifLibre-Light';
  src: url(../fonts/AveriaSerifLibre-Light.ttf) format('ttf'),
      url('../fonts/averiaseriflibre-light-webfont.woff2') format('woff2'),
       url('../fonts/averiaseriflibre-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AveriaSerifLibre-Bold';
  src: url(../fonts/AveriaSerifLibre-Bold.ttf) format('ttf'),
      url('../fonts/averiaseriflibre-bold-webfont.woff2') format('woff2'),
       url('../fonts/averiaseriflibre-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}